<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.085095 0.815136 0.739406" rpy="0.357935 0.28553 -0.873998" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="grasp_cam_broadcaster"
      args="0.4196677 0.10769724 1.0902815   0.36185312  0.66911993  0.64835823 -0.03118485 camera_color_optical_frame grasp_cam" />
</launch>