<launch>
  <include file = "$(find plane_segmentation)/launch/plane_segmentation.launch"/>
  <include file = "$(find depth_image_converter)/launch/depth_image_converter.launch"/>
  <include file = "$(find object_depth_generation)/launch/object_depth_generation.launch"/>
  <include file = "$(find npy_generator)/launch/npy_generator.launch"/>
</launch>