<launch>
    <arg name="world_suffix" default="empty"/>
    <include file="$(find panda_moveit_config)/launch/demo_gazebo.launch" pass_all_args="true">
        <arg name="def_rviz_config" value="std_config_n_cam"/>
        <arg name="world" value="$(find gazebo_sim)/worlds/$(arg world_suffix).world"/>
    </include>
</launch>
