<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.0708022 0.81447 0.598374" rpy="0.453926 0.464432 -0.98564" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.0708022 0.81447 0.598374   0.0868341 0.301151 -0.402983 0.859867 panda_link0 camera_link" />
</launch>
