<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.121157 0.802564 0.598683" rpy="0.517472 0.426009 -0.995481" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.121157 0.802564 0.598683   0.122163 0.298961 -0.403594 0.856044 panda_link0 camera_link" />
</launch>
